.pagination-nav{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.pagination-nav ul{
  display: flex;
}
.page-item.active .page-link{
  background-color: #ebc87d ;
  color: #000;
  font-weight: 700;
  border-radius: 50%;
}

.page-link{
  background: none;
  border: none;
  font-size: 20px;
  padding: 6px 10px;
  cursor: pointer;
  color: #a97853 ;

}