.sidebar {
  /* width: 100%; */
  display: flex;
  }
.sidebar div{
  /* width: 20%; */
}


.sidebar-title {
  font-size: 16px;
  font-weight: normal;
}
.sidebar select{
  width: 5rem;
  margin-right: 1rem;
}

.clearfilter{
  border: none;
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;

}
@media (max-width: 480px) {
  .sidebar{
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .clearfilter{
    margin-top: 1rem;
  }
}

